@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
* {
    box-sizing: border-box;
}

.wrapper{
    flex: auto;
}

fieldset {
    border:0 none;
}


/* 769px - 1440px */
.body{
    width: 100%;
    height: 737px;
    margin: 0 auto;
    margin-top: 15px;
    background: #1B2473;
    border-radius: 5px;


}

.main{
    width: 600px;
    height: 412px;
    left: 412px;
    top: 82px;
    margin: 0 auto;
    margin-top: 82px;

    background: #FFFFFF;
    box-shadow: 0px 0px 40px 10px rgba(0, 0, 0, 0.25);
    border-radius: 20px;

}

.email{
    /* Email */
    width: 259px;
    left: 15px;
    padding-top: 17px;
    margin-left: 5%;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 1em;
    line-height: 16px;
    /* identical to box height, or 100% */
    color: #787878;

}
.email_text_1{
    width: 509px;
    height: 49px;
    left: 0px;
    top: 0px;
    margin-left: 5%;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 36px;

    background: #FFFFFF;
    border: 2px solid #787878;
    border-radius: 10px;


}
.email_text_2{
    width: 509px;
    height: 49px;
    left: 0px;
    top: 0px;
    margin-left: 5%;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 36px;

    background: #FFFFFF;
    border: 2px solid #787878;
    border-radius: 10px;

    display: none;
}
.password{
    /* password */
    width: 40px;
    height: 16px;
    left: 8px;
    top: -19px;
    margin-left: 5%;
    visibility: hidden;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 16px;
    /* identical to box height, or 100% */


    color: #787878;

}
.password_text{
    width: 509px;
    height: 49px;
    left: 0px;
    top: 0px;
    margin-left: 5%;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 36px;

    background: #FFFFFF;
    border: 2px solid #787878;
    border-radius: 10px;
}
#html{
    margin-left: 7%;
    margin-top: 0;
}
.text_1{
    width: 115px;
    height: 50px;
    padding-top: 26px;
    margin: 0 auto;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 50px;
    /* identical to box height, or 100% */

    color: #787878;
}
.checkbox_text{
    /* Я согласен получать обновления на почту */

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 16px;

    color: #787878;



}
.button_login{
    width: 180px;
    height: 52px;
    left: 0px;
    top: 0px;

    background: #1A226B;
    border-radius: 10px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 16px;
    /* identical to box height, or 67% */


    color: #FFFFFF;
}
.checkbox_wrapper{
    display: flex;
    align-items: center;
}
/*

@media screen

*/
@media screen and (max-width: 768px)  {

    /* 769px - 1440px */
    .body{
        width: 100%;
        height: 737px;
        margin: 0 auto;
        margin-top: 15px;
        background: #1B2473;
        border-radius: 5px;


    }

    .main{
        width: 95%;
        height: 697px;
        left: 20px;
        top: 20px;

        background: #FFFFFF;
        box-shadow: 0px 0px 40px 10px rgba(0, 0, 0, 0.25);
        border-radius: 20px;

    }

    .email{
        /* Email */
        width: 60px;
        height: 16px;
        left: 8px;
        top: 0px;

        font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 16px;
        /* identical to box height, or 67% */


        color: #787878;

    }
    .email_text_1{
        width: 638px;
        height: 49px;
        left: 0px;
        top: 24px;

        background: #FFFFFF;
        border: 2px solid #787878;
        border-radius: 10px;

        font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: 28px;
        line-height: 36px;
        /* identical to box height, or 129% */
        display: none;
    }
    .email_text_2{
        width: 93%;
        height: 49px;
        left: 0px;
        top: 24px;

        background: #FFFFFF;
        border: 2px solid #787878;
        border-radius: 10px;

        font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: 28px;
        line-height: 36px;
        /* identical to box height, or 129% */
        visibility: visible;
        display: revert;

    }
    .password{
        /* password */
        width: 84px;
        height: 16px;
        left: 8px;
        top: 0px;

        font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 16px;
        /* identical to box height, or 67% */
        visibility: visible;


        color: #787878;


    }

    .password_text{
        width: 93%;
        height: 49px;
        left: 0px;
        top: 24px;

        background: #FFFFFF;
        border: 2px solid #787878;
        border-radius: 10px;

        font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: 28px;
        line-height: 36px;
        /* identical to box height, or 129% */


        color: #CCCCCC;
    }
    #html{
        margin-left: 7%;
    }
    .checkbox{
        width: 32px;
        height: 32px;
        left: 0px;
        top: 0px;


        background: #FFFFFF;
        border: 2px solid #787878;
        border-radius: 7px;
    }
    .text_1{
        width: 138px;
        height: 50px;
        left: 288px;
        top: 38px;

        font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: 60px;
        line-height: 50px;
        /* identical to box height, or 83% */
        color: #787878;

    }



    .button_login{
        width: 220px;
        height: 80px;
        left: 0px;
        top: 0px;

        background: #1A226B;
        border-radius: 10px;


        font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: 32px;
        line-height: 16px;
        /* identical to box height, or 50% */


        color: #FFFFFF;
    }

}


